/bin/

.classpath

.project

.settings/

bin/lib/

Libs/

*.class

*.log

*.ctxt

.mtj.tmp/

*.jar

*.war

*.ear

*.zip

*.tar.gz

*.rar

hs_err_pid*

Libs/TempTestCase*.groovy

Libs/TempTempCase*.groovy

Libs/TempTestSuite*.groovy

Reports

settings/
settings/internal/com.kms.katalon.integration.analytics.properties
settings/internal/com.kms.katalon.integration.jira.properties
settings/internal/com.kms.katalon.testcase.properties
settings/internal/com.kms.katalon.composer.testcase.properties

/Profiles/localProfile.glbl

.cache/